@import url(https://db.onlinewebfonts.com/c/8922aedb2c18008da7daf4f93fd60bdc?family=Calibri+Light); 
html{
    font-family: "Calibri";
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    overflow-x: hidden;
}

header h1{
    text-align: center;
}

p{
    color: rgb(69, 152, 247);
    font-size: 1.2em;
}
h1,h2,h3,h4{
    color:rgb(153, 6, 23) ;
}

.on{
    position: relative;
    left: -4.5vw;
}

header{
    display: flex;
    height: 15vh;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(153, 6, 23);
}
header h1{
    color: white;
}
header img{
    height: 10vh;
    margin-top: 1vh;
    margin-left: 1.5vw;
    margin-right: 1vw;
}
nav{
    background-color: rgb(185, 17, 17);
    display: flex;
    position:relative;
    /* height: 7vh; */
    justify-content: center;
    font-size: 18px;
}
nav ul{
    display: flex;
    text-align: center;
}
nav ul li{
    list-style: none;
    justify-content: space-between;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.hhh1{
    width: 100vw;
    text-align: center;
    position: relative;
    top: 4vh;
}

.first{
    position: relative;
    padding-top: 8vh;
    padding-bottom:8vh ;
    display: flex;
    margin-bottom: 0.5vh;
    box-sizing: border-box;
}
.det{
    width: 40vw;
    justify-content: center;
    
}
footer h1{
    color: white;
}
footer h2{
    color: white;

}

.det .on{
    display: flex;
    justify-content: center;
    align-items: center;
}
.det img{
    height: 4vh;
    display: flex;
    fill: rgb(146, 6, 20);
    margin-right: 2vw;
    
}
.det ul li{
    list-style: none;
    display: flex;
    width: 35vw;
    color: rgb(160, 6, 22);
    align-items: center;
}

.link{
    margin-top: 50px;
    list-style: none;
    display: flex;
    
}
.link a img{
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    position: relative;
}

.image{
    width: 40vw;
    overflow-y: hidden;
    overflow: hidden;
    margin-top: 7vh;
    display: flex;
    margin-left: 5vw;
}
.image img{
    width: 40vw;
    /* height: 70vh; */
    animation:slide-images  15s linear infinite;
    
}
.orgg{
    display: flex;
    align-items: center;
}

.orgg{
    /* position: relative; */
    /* top: 2vh; */
}

.org{
    padding: 5vh 5vw;
}

@keyframes slide-images {
    0% , 100%{
        transform: translateX(0%);
    }
    12.5%{
        transform: translateX(0%);
        
    }
    25%{
        transform: translateX(-100%);
        
    }
    37.5%{
        transform: translateX(-100%);
        
    }
    
    50%{
        transform: translateX(-200%);
        
    }
    62.5%{
        transform: translateX(-200%);
        
    }
    75%{
        transform: translateX(-300%);
        
    }
    87.5%{
        transform: translateX(-300%);
        
    }
}

.dept-links{
    display: flex;
    margin-top: -20px;
    flex-direction: column;
}

#col-blue span{
    color: blue;
}

#col-red span{
    color: red;
}

.sec{
    padding: 10px;
    margin: 5px;
    position: relative;
    border-top: 1px solid gray;
    display: flex;
}
.about{
    width: 60%;
    padding: 40px;
    text-align: justify;
}
.about div{
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid grey;
}

.impo{
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    width: 30%;
}

.impo div{
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
}

.impo .con{
    margin: 0;
    width: 100%;
    border-radius: 10px;
    border-left: 3px solid red;
    background-color: #B91111;
}

.impo .par{
    border-left: 0px;
    background-color: rgb(209, 206, 206);
}

.about-college-img{
    margin-left: -10px;
}

.visitor{
    margin-left: 35vw;
    align-items: center;
    padding: 9vh 9vw;
    height: 20vh;
    font-size: 2rem;
}

.visitor img{
    /* height: 5vh; */
}
.con h3{
    color: white;
}


footer{
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: rgb(160, 9, 9);
    color: white;
}

footer h1{
    font-size: 2em;
    color: white;
}
footer h2{
    color: white;
}

.foot,.f2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot img{
    height: 8vh;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 1vw;

}

.cont{
    font-size: 1.2rem;
    margin: 5vh 5vw;
    text-align: justify;
}

.cont div{
    width: 70vw;
    padding: 5vh 5vw;
    border-bottom: 1px solid gray;
}
.cont img{
    width: 60vw;
}

.cont h1{
    padding: 2vw;
    border-left:4px solid red ;
}
.cont h2,.cont h3,.cont h4{
    text-decoration: underline red;
}
.depp{
    width: 90vw;
    box-sizing: border-box;
    text-align: justify;
}

.comm{
    font-size: 1.2rem;
    margin: 5vh 5vw;
    padding: 3vh 3vw;
    
}
.comm div{
    padding: 3vh 3vw;
}
.comm h1{
    border-left:4px solid red ;
    padding: 1vw;
}
.comm h3{
    border-left:4px solid red ;
    padding: 1vw;
}

.cont1{
    margin: 5vw 3vh;
    padding: 2vh 2vw;
    width: 70vw;
    text-align: justify;
}
.cont1 h1{
    border-left: 3px solid red;
    padding: 1vw;
}
.call ul li{
    display: flex;
    align-items: baseline;
}

.guide{
    margin: 5vw 5vh;
    width: 70vw;
    padding: 3vh;
    box-sizing: border-box;
}

.sub{
    padding: 3vw;
}
.bt1,.bt2{
    border: 1px solid rgb(153, 6, 23);
    border-radius: 5vw;
    width: 15vw;
    padding: 1vh 1vw;
    margin-bottom: 2vh; 
    background-color: rgb(153, 6, 23);
}
.dept-links h3:first-child{
    position: relative;
    left: 3vw;
}

.guide a{
    text-decoration: none;
    color: white;
}
.bt1 a,.bt2 a{
    text-decoration: none;
    color: white;
}
.bu{
    padding-left: 2vw;
}
.reg img{
    width: 50vw;
}


.main{
    padding: 5vh 5vw;
    margin-left: 30vw;
}

.main form input, .main form textarea{
    width: 30vw;
    display: block;

}
.main form{
    display: block;
}
#text{
    height: 5vh;
}

#email{
    height: 5vh;
}

#msg{
    height: 20vh;
}
.but{
    padding: 1vw 1vh;
    
}

.loc{
    text-align: center;
    margin: 5vh 5vw;
    padding: 10vh 10vw;
}
.loc iframe{
    height: 40vh;
    width: 40vw;
    margin-left: 10vw;
}

.foot-img{
    padding-left: 10px;
}

.fac{
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    padding: 5vh 5vw;
    box-sizing: border-box;
}
.fac h1{
    border-left:3px solid red ;
    padding: 1vw;
}
.speaker{
    padding: 6vh 6vw;
}
.ses{
    padding: 5vh 5vw;
}
.ses h1, .ses h3, .ses h2{
    border-left:3px solid red ;
    padding: 1vw;
}
table {
    background-color: rgb(240, 246, 251);
    width: 50vw;
}

.caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    /* text-align: center; */
    border-left:3px solid red ;
    padding: 1vw;
}
table{
    border: 1px solid;
    border-collapse: collapse;
}
th{
    border: 1px solid;
    
}
td{
    border: 1px solid;
}
.guide ,.gu {
    padding: 5vh 5vw;
    
}
.hh{
    border-left:3px solid red ;
    padding: 1vw;
}
.ven{
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;

    
}
.ven .loc{
    margin-left: none;
}
.ven h3{
    border-left:3px solid red ;
    padding: 1vw;
}
.ven .loc h3{
    border-left:none ;
}
.scee{
    padding: 15vh 10vw;
}
.gu  img{
    width: 40vw;
}


.gcet{
    width: 100vw;
    box-sizing: border-box;
    text-align: justify;
}
.gcet img{
    width: 80vw;
    margin-top: 7vh;
    margin-left: 2vw;
}
.gcet div{
    border-bottom: none;
    width: 40vw;
}
.sec{
    box-sizing: border-box;
}

h1{
    font-size: 2em;
}

.orgg img{
    height:8vh;
}